// Background
$bg-color: #FFFFFF;
$second-bg-color: #F8F1EA; //footer-font-color
$footer-bg-color: #35312D;

$dots-color: rgba(248, 241, 234, 0.7);

// Colors

$text-color: #000000;
$logo-color: #C62100;
$accent-color: #F16A50;

// Fonts
$heading1: 700 50px/1.22 'Montserrat700',
sans-serif;
$heading2: 700 32px/1.22 'Montserrat700',
sans-serif;
$menu-text: 500 20px/1.2 'Montserrat500',
sans-serif;
$prod-description-text: 600 16px/1.25 'Montserrat600',
sans-serif;
$price-text: 700 24px/1.21 'Montserrat700',
sans-serif;
$button-status-text:500 18px/1.22 'Montserrat500',
sans-serif;
$label-text:500 10px/1.2 'Montserrat500',
sans-serif;